body {
  margin: 0;
  font-family: "Cascadia Code", "Fira Code", "Hack", "JetBrains Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(
      circle at 20% 80%,
      rgba(233, 73, 73, 0.409) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 80% 20%,
      rgba(7, 197, 214, 0.22) 0%,
      transparent 50%
    ),
    linear-gradient(to right, #393939, #000000);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 600px;
  animation: fadeIn 2.2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container * {
  display: inline-block;
  text-align: center;
  margin: 0.25rem 0;
}

.logo {
  width: 150px;
  height: 150px;
  margin: 0 auto 1.5rem;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 0.5rem;
  color: #fff;
}

p {
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.social-links a {
  color: #b6b6b6d2;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.4s ease, color 0.3s;
  display: inline-block;
}

.social-links a:hover {
  color: #fff;
  transform: translateY(-6px) scale(1.15);
}

.scale-on-hover {
  display: inline-block;
  transition: transform 0.3s ease;
}

.scale-on-hover:hover {
  transform: scale(1.2);
}

.animate-float {
  position: relative;
  display: inline-block;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
